<h1 class="ui header centered">Rooms</h1>
<div class="roomcontainer">
    <div class="roomcard ui card">
    <div class="content">
        <i class="keyboard icon right floated"></i>      
        <div class="header">
            Room #1
        </div>
        <div class="meta">
            Creator
        </div>
        <div class="description">
            <h1>Minimum WPM: 70</h1>
        </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <div class="ui icon button"><i class="eye icon"></i>Watch</div>
        <div class="ui icon button"><i class="sign in alternate icon"></i>Join</div>
      </div>
    </div>
  </div>




</div>