<h1 class="ui header center aligned">Practice Page</h1>



<div class="ui container">
    <div class="wordcontainer">

    </div>
    <div class="ui fluid input">
        <input class="typebox" name="typebox" type="text">

    </div>
    <div class="timer"><span>1:00</span></div>

</div>

<script src="/js/typingtest.js"></script>
