.wordcontainer{
  border: 1px solid black;
  height: 4em;
  font-size: 30px;
  line-height: 40px;
  overflow: hidden;

  
}

.roomcard{
 
}

.roomcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.joinbutton{

}

.wpmheader{
  text-align: center;
  margin-right: -67.84px;
}

.timer{
  display: block;
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
}

span{
  margin-right: 6px;
  margin-left: 6px;
  display: inline-block;
}

.typebox{
  display: block;
  text-align: center !important
}

.current-word {
  background-color: #dddddd; }

.correct-word-c {
  color: #93C572; }

.incorrect-word-c {
  color: #e50000; }

.incorrect-word-bg {
  background-color: #e50000; }

